.cta{
   
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cv{
    margin-top: 15%;
}
.socialsc{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.socialsc h1{
    font-size: 2.5rem;
    margin-bottom: 10%;
}
.iso{
    display: flex;
    justify-content: center;
   
    font-size: 4rem;
    width: 80vw;
}
.iso .idiv{
    width: 90px;
    background-color: #171616;
    border-radius: 50%;
    margin-left:3%;
    margin-right:3%;
    text-align: center;
    line-height: 90px;
    transition: all 1s ;
}

.iso .idiv:hover{
    box-shadow:10px 10p rgb(218, 218, 16);
}





.btn{
    width: 15rem;
    cursor: pointer;
    box-shadow:0 20px 35px rgba(0, 0, 0, 0.998);
    height: 3.5rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    background-color: #08080e;
    font-family: 'Nunito', sans-serif;
    transition: all .5s;
    border: 1px solid #fff;
    

}

.btn:hover{
    background-color: rgb(218, 218, 16);
    border: 1px solid #08080e;
    color: #08080e;
}
