.nav1 h1 {
  font-size: xx-large;
}
.navt h1 a {
  width: 10rem;
  text-decoration: none;
  color: #fff;
}
.navt h1 a:hover {
  color: yellow;
}

.nav1 {
  font-family: "Nunito", sans-serif;
  width: 100%;
  display: flex;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: space-evenly;

}
.nav-menu{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 70%;
  height: 70px;
  justify-content: space-evenly;
  align-items: center;
  
  
}

.nav1 ul li a {
  text-decoration: none;
  color: yellow;
  position: relative;
}

.nav1 ul li a::after {
  content: "";
  position: absolute;
  background-color: yellow;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 200ms;
}

.nav1 ul li a:hover::after {
  width: 100%;
}

.socials a {
  width: 30px;
  height: 20px;
  margin: 0 10px;
  font-size: 25px;
  color: #fff;
 
  
}
.socials a i {
  margin: 0;
  padding: 0;
}

.socials a:hover {
  color: yellow;
}

.hmb{
  display: none;
  cursor: pointer;
}

@media (max-width:768px){
  .nav1{
    flex-direction: column;
  }
  .nav1 .active{
    height: 30vh;
  }
  .nav-menu{
    display: none;
  }
  .nav-menu.active{
    display: flex;
    flex-direction: column;
  }
  
  .socials{
    display: none;
  }

  .socials.active{
    display: block;
    width: auto;
    height: 3rem;
  }


  .hmb{
    display: block;
    position: absolute;
    font-size: 30px;
    padding: 2rem;
    right: 1%;
    top: 0;
  }
  


}
