@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
   padding:0;
   margin: 0;
   background-color: #08080e;
   color: white;
   font-family: 'Nunito', sans-serif;
}

.header{
    display: flex;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.header .img1 img{
    width: 20rem;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.998);
    border-radius: 5%;
}

.header .img1{
    margin: 0px 3%;
}


@media(max-width:700px){
    .header .img1 img{
        width: 15rem;
    }
    .hed-txt{
       font-size: small;
    }
    .header{
        flex-direction: column;
        top: 80%;
    }
}

