@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body{
   padding:0;
   margin: 0;
   background-color: #08080e;
   color: white;
   font-family: 'Nunito', sans-serif;
}

html{
   scroll-behavior: smooth;
  
}

html::-webkit-scrollbar {
   width: 10px;
  
   
}

html::-webkit-scrollbar-track {
   background: #000000;
   border-radius: 20px;
 }

 html::-webkit-scrollbar-thumb {
   background: rgb(218, 218, 16);
   border-radius: 20px;

   
 }

 html::-webkit-scrollbar-thumb:hover {
   background: rgba(218, 218, 16, 0.782);
 }

